.category-box {
  width: 50%;
  padding: 1.3vw;
  background-color: #FFF;
  border: 1px solid #EEE;
  border-radius: 0.6vw;

  h2 {
    font-size: 1.3vw;
    margin-bottom: 0.8vw;
    font-weight: 600;
  }

  .category-list {
    display: flex;
    flex-direction: column;
    gap: 2vw;

    .category-row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 0.8vw;

        .icon-wrap {
          width: 2.8vw;
          height: 2.8vw;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.8vw;

          i {
            font-size: 1.4vw;
            color: #333;
          }
        }

        .name {
          font-size: 1vw;
          font-weight: 500;
          color: #111;
        }
      }

      .amount {
        font-size: 1.1vw;
        font-weight: 600;
        color: #111;
      }
    }
  }
}