.chart-box {
  width: 50%;
  padding: 1.4vw;
  background-color: #FFF;
  border: 1px solid #EEE;
  border-radius: 0.6vw;

  h2 {
    font-size: 1.3vw;
    font-weight: 600;
    margin-bottom: 0.6vw;
  }

  .recharts-wrapper {
    overflow: visible;
  }

  .recharts-surface {
    overflow: visible;
  }

  .recharts-cartesian-axis-tick {
    font-size: 0.9vw;
    fill: #666;
  }

  .recharts-bar-rectangle {
    rx: 8px !important;
  }

  .recharts-tooltip-wrapper {
    border-radius: 0.6vw !important;
    overflow: hidden !important;
  }
}
