.chart-box {
  width: 50%;
  padding: 1.4vw;
  background-color: #FFF;
  border: 1px solid #EEE;
  border-radius: 0.6vw;

  h2 {
    font-size: 1.3vw;
    font-weight: 600;
    margin-bottom: 0.6vw;
  }

  p {
    text-align: center;
    opacity: 0.7;
    font-size: 1vw;
  }
}
