.sidebar {
  width: 17vw;
  padding: 2vw 1.2vw;
  min-height: 100vh;
  border-right: 1px solid #E5E7EB;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 2vw;

  h1 {
    font-size: 1.7vw;
    font-weight: 700;
    color: #111827;
    margin-bottom: 1vw;
  }

  .sb-menu {
    display: flex;
    flex-direction: column;
    gap: 2vw;

    a {
        background-color: #EDEDED;
        padding: 1.5vw 3vw;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        text-decoration: none;
        color: #111827;
    }
  }
}
